/* about.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Georgia', serif;
  background-color: #ffffff;
  color: #333;
}

.about {
  padding: 0px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 50px;
  color: #1c1c1c;
}

.heading span {
  color: #b86b43;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.col-md-6 {
  flex: 1;
  min-width: 300px;
  padding: 20px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #2e2e2e;
}

p {
  font-size: 1rem;
  line-height: 1.7;
  color: #555;
  margin-bottom: 30px;
}

#about-btn {
  padding: 5px 5px;
  border: 2px solid #b86b43;
  text-align: center;
  background-color: transparent;
  color: #b86b43;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

#about-btn:hover {
  background-color: #b86b43;
  color: white;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .col-md-6 {
    text-align: center;
  }

  h3 {
    font-size: 1.5rem;
  }
}