/* General container styling */
/* menu page styling */
.menu {
  padding: 60px 20px;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.heading3 {

  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
  color: #7a4b29;
  font-weight: 600;
}

/* Grid system using Bootstrap */
/* .row {
  display: flex ;
  flex-wrap: wrap;
  justify-content: center ;
  gap: 20px;
} */

/* Card styling */
.card {
  background: #dfd6cd;
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(122, 10, 10, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  padding: 10px;
}
.mug-icon {
  font-size: 100px;
  color: white;
  font-size: 30px;
  
}



.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.card-body {
  padding: 15px 10px;
}

.card-body h3 {
  font-size: 1.3rem;
  color: #5a3825;
  margin: 10px 0;
}

.card-body p {
  font-size: 1.1rem;
  color: #8b5e3c;
  margin: 0;
}

.card-body p strike {
  color: #aaa;
  margin: 0 5px;
}

.card-body span i {
  color: #7a4b29;
  float: right;
  margin-right: 5px;
  cursor: pointer;
  transition: color 0.2s ease;
}




/* Star icons */
.star i {
  color: #ed970c;
  font-size: 1rem;
  margin: 2px;
}
.star i.gold-star {
  color: #ed970c; 
}

/* menu page stylinh ended */