/* footer */
#footer {
  width: 100%;
  background: #b2744c;
  margin-top: 50px;
}

.footer-logo img {
  width: 180px;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}

#footer .socail-links i {
  font-size: 17px;
  margin-left: 10px;
  margin-top: 30px;
  padding: 10px;
  background: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

#footer .socail-links i:hover {
  background: white;
  color: black;
}

.credite {
  color: white;
  margin-top: 20px;
  text-shadow: 0px 0px 1px black;
}

.credite a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.credite a span {
  color: black;
}

.copyright span {
  color: black;
}
